<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543115661864-504sl18e3dvnr3ql308nuimnrhvef07e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543115661864-504sl18e3dvnr3ql308nuimnrhvef07e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>543115661864-3c181d9rn7dk8tju8mqaq4gcg8o9l2ts.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC87TtcPRwqJLIoe_88u9H-yA0Ed7_JK1g</string>
	<key>GCM_SENDER_ID</key>
	<string>543115661864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koumi.shop</string>
	<key>PROJECT_ID</key>
	<string>koumishop-3fdfa</string>
	<key>STORAGE_BUCKET</key>
	<string>koumishop-3fdfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543115661864:ios:b7b4fc2de54b6952711b1d</string>
</dict>
</plist>